body {
  margin: 0;
  padding: 0;
}

/* TITLE */
.title-div {
  color: white;
  text-align: center;
}

.title-div img {
  width: 100%;
}

.title-div h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  width: 100vh;
  line-height: normal;
  letter-spacing: normal;
}

/* TOP BAR */
.top-bar {
  display: flex;
  width: 100%;
  height: 5rem;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgba(0,0,0,0.7);
  padding: 0.2rem 3rem 0.2rem 1rem;
}

.top-bar-title{
  display: flex;
  width: 20%;
  height: 100%;
}

.top-bar-title .pfp{
  display: flex;
  height: 100%;
}

.top-bar-title p{
  display: flex;
  height: 100%;
  width: 20rem;
  margin: 0;
  padding: 0 2rem;
  font-size: 1.3rem;
  text-align: center;
  align-items: center;
  color: white;
}

.top-bar-buttons{
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: flex-end; /* Stack child divs to the right */
  gap: 1rem; /* Add spacing between child divs */
  padding: 1rem 0;
}

.top-bar-buttons button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.top-bar-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.top-bar-buttons button:focus {
  outline: none;
}


/* SECTIONS*/

.section {
  padding: 8rem 20%;
  min-height: 100vh;
  background-color: #f4f4f4;
  margin-bottom: 1rem;
}

.section:nth-child(even) {
  background-color: #e2e2e2;
}